[Desktop Entry]
Version=1.0
Type=Link
Name=A
Comment=
Icon=user-bookmarks
URL=file:///home/escola/%C3%81rea%20de%20Trabalho/fun%C3%A7%C3%B5es-aprimoradas-izadora/style.css
